* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background-color: rgba(56, 3, 56, 0.881);
}

h1 {
    font-size: 50px;
    color: rgb(13, 237, 35);
    text-align: center;
}

.card-div {
    width: 90%;
    max-width: 350px;
    padding: 15px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 2px 15px 2px rgba(66, 66, 66, 0.603);
}

.in-1 {
    width: 100%;
    height: 35px;
    margin-bottom: 25px;
}

.btn,.btn-2 {
    margin-bottom: 25px;
    background-color: cadetblue;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    color: white;
}

img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}